/* Add Local Pokemon Fonts */

/* https://www.fontspace.com/pocket-monk-font-f23540 */
@font-face {
    font-family: "PocketMonk";
    src: url("/groupAssignment/fonts/PocketMonk-15ze.ttf");
}
/* https://www.fontspace.com/eviolite-font-f32546 */
@font-face {
    font-family: "EvioliteRegular";
    src: url("/groupAssignment/fonts/EvioliteRegular-ZjA8.ttf");
}
/* This one doesn't seem to work*/
@font-face {
    font-family: "LMSPokedex";
    src: url("/groupAssignment/fonts/LmsPokedex-XEja.ttf");
}
/* https://www.fontspace.com/pokemon-gb-font-f9621 */
@font-face {
    font-family: "PokemonGB";
    src: url("/groupAssignment/fonts/PokemonGb-RAeo.ttf");
}
/* https://www.fontspace.com/pokemon-hollow-font-f13845 */
@font-face {
    font-family: "PokemonHollow";
    src: url("/groupAssignment/fonts/PokemonHollowNormal-pyPZ.ttf");
}
/* https://www.fontspace.com/pokemon-solid-font-f13844 */
@font-face {
    font-family: "PokemonSolid";
    src: url("/groupAssignment/fonts/PokemonSolidNormal-xyWR.ttf");
}
/* https://www.fontspace.com/pokemon-solid-font-f13844 */
@font-face {
    font-family: "Hisel";
    src: url("/groupAssignment/fonts/HiselRegular-9qyj.ttf");
}
/* NavBar "KantoSpirit" font*/
.navbar-brand {
    font-family: PocketMonk;
}

/* NavBar Page Selection Header Font (Home, Spirit Pokemon Queries,...,About)*/
.nav-item {
    font-family: Hisel;
    font-size: 180%;
}

/* styling for button div*/
.container {
    font-family: Hisel;
    font-size: 200%;
}


/* pokemon description for spirit query */
.pokemonDescription
{
    display: center;
    width: 100%;
    text-align: center;
}

/* pokemon description for spirit query */
.pokemonDescriptionText
{
    width: 100%;
    text-align: center;
}

